<aside class="sidebar" [class.mobile-open]="emp.sidebarOpen()">
    <div class="sidebar-logo">
        <span class="logo-text">{{role() && role() === 'Employee' ? 'Employee Portal':'Manager Portal'}}</span>
    </div>

    <nav class="sidebar-nav">
        @if (role() === 'Employee') {
        <a class="nav-item" routerLink="/dashboard/dashboardpage" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Dashboard</span>
        </a>
        <a class="nav-item" routerLink="/dashboard/Leavepage" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">My Requests</span>
        </a>
        <a class="nav-item" routerLink="/dashboard/Attendance" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Attendance</span>
        </a>
        <a class="nav-item" routerLink="/dashboard/timesheet" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">TimeSheet</span>
        </a>
        <a class="nav-item" routerLink="/dashboard/myprofile" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Profile</span>
        </a>
        }
        @else if(role() === 'Manager'){
            <a class="nav-item" routerLink="/dashboard/managerdashboard" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Dashboard</span>
            </a>
            <a class="nav-item" routerLink="/dashboard/managerattendance" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Attendance</span>
            </a>
            <a class="nav-item" routerLink="/dashboard/managerleave" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Leave</span>
            </a>
            <a class="nav-item" routerLink="/dashboard/managertimesheet" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Timesheet</span>
            </a>
            <a class="nav-item" routerLink="/dashboard/managerteams" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Team</span>
            </a>
            <a class="nav-item" routerLink="/dashboard/teamperformance" routerLinkActive="active" (click)="emp.closeSidebar()">
                <span class="nav-icon"></span>
                <span class="nav-label">Performance</span>
            </a>
        }
        @else {
        <a class="nav-item" routerLink="/dashboard" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Dashboard</span>
        </a>
        <a class="nav-item" routerLink="/manager/users" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Manage Users</span>
        </a>
        <a class="nav-item" routerLink="/manager/reports" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Reports</span>
        </a>
        <a class="nav-item" routerLink="profile" routerLinkActive="active" (click)="emp.closeSidebar()">
            <span class="nav-icon"></span>
            <span class="nav-label">Profile</span>
        </a>
        }

    </nav>
    <div class="sidebar-logout">
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
</aside>
<!-- Logout Loader -->
<div class="page-loader" *ngIf="isLoggingOut">
    <div class="loader-content">
        <div class="fas fa-spinner fa-spin"></div>
        <p>Logging out...</p>
    </div>
</div>